<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.project.washingcar"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".WCApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="CvPtn73lWbQ3ZNKsAGYYHjrg" />

        <activity
            android:name=".activity.ActStart"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActMain"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" />
        <activity
            android:name=".activity.ActRecommend"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActNearBy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActMe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActShopDetail"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" />
        <activity
            android:name=".activity.ActLocation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" />
        <activity
            android:name=".activity.ActLogin"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" />
        <activity
            android:name=".activity.ActRegister"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" />
        <activity
            android:name=".activity.ActSearch"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" />
        <activity
            android:name=".activity.ActImagePager"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.NoActionBar" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
    </application>

</manifest>